name: release

on:
  push:
    tags:
      - v*

permissions:
  contents: write

jobs:
  github-release:
    name: Publish github release
    if: github.repository == 'skyclouds2001/vite-react-template-sky'
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4.2.1
      - uses: softprops/action-gh-release@v2.0.8
        with:
          body: |
            Please refer to [CHANGELOG.md](https://github.com/skyclouds2001/vite-react-template-sky/blob/master/CHANGELOG.md) for details.
