name: stale

on:
  schedule:
    - cron: 0 0 * * *

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  stale:
    name: Stale issue or pull request if have had no activity for a long time
    if: github.repository == 'skyclouds2001/springboot-template-sky'
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v9.0.0
        with:
          stale-issue-message: |
            This issue is stale because it has been open 60 days with no activity. Remove stale label or comment or this will be closed in 7 days.
          stale-pr-message: |
            This PR is stale because it has been open 60 days with no activity. Remove stale label or comment or this will be closed in 7 days.
          close-issue-message: |
            This issue was closed because it has been stalled for 7 days with no activity.
          close-pr-message: |
            This PR was closed because it has been stalled for 7 days with no activity.
